@charset "UTF-8";
/********* Défini la structure globale ********/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0px;
  font-family: "Roboto", serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-family: "Roboto", serif;
}

/*** Header de la page d'accueil ***/
.header_accueil_logo {
  height: 27px;
  display: flex;
  justify-content: center;
  margin: 20px auto 20px auto;
}
.header_accueil_location {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0px -3px 3px #c1c0c0;
}
.header_accueil_reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.header_accueil_reservation h1 {
  margin: 30px 50px 15px 50px;
  text-align: center;
}
.header_accueil_reservation p {
  text-align: center;
  color: #4D4D4D;
  margin: 0px 15px 30px 15px;
  font-size: 17px;
  font-weight: 300;
}
.header_accueil_reservation a {
  text-decoration: none;
}

.fa-location-dot {
  padding-right: 15px;
}

/********* Header des menus ********/
.header_menu_logo {
  display: flex;
  justify-content: center;
  position: relative;
  height: 27px;
  padding: 20px 0 12px 0;
}
.header_menu_logo a {
  text-decoration: none;
  color: black;
}
.header_menu_photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 22px;
}

/********** Espace "fonctionnement" sur la page d'accueil ********/
#titreFonctionnement {
  margin: 45px 10px 0px 20px;
}
@media screen and (min-width: 980px) {
  #titreFonctionnement {
    text-align: center;
  }
}

.functioning {
  margin: 15px 15px 40px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 980px) {
  .functioning {
    flex-direction: row;
    justify-content: center;
  }
}
.functioning_number {
  position: relative;
  left: -13px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 20px;
  padding: 4px 9px 4px 9px;
}
.functioning_step {
  margin: 15px auto 15px auto;
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  font-weight: bold;
  box-shadow: 0px 4px 18px 0px #c1c0c0;
  border-radius: 20px;
  padding: 10px 5px 10px 0px;
}
@media screen and (min-width: 980px) {
  .functioning_step {
    margin: 20px;
  }
}
.functioning_step:hover {
  background-color: #F5EDFF;
}
.functioning_step:hover .fa-mobile-screen {
  color: #9356DC;
}
.functioning_step:hover .fa-store {
  color: #9356DC;
}
.functioning_step:hover .fa-list-ul {
  color: #9356DC;
}

.fa-mobile-screen {
  padding: 0px 25px 0px 10px;
  font-size: 20px;
  color: #7E7E7E;
}

.fa-list-ul {
  padding: 0px 25px 0px 10px;
  font-size: 20px;
  color: #7E7E7E;
}

.fa-store {
  padding: 0px 25px 0px 10px;
  font-size: 18px;
  color: #7E7E7E;
}

/**** Espace Restaurants ****/
#sectionRestaurants {
  background-color: #F6F6F6;
}

#titreRestaurants {
  padding: 45px 10px 0px 20px;
  margin-top: 0px;
}
@media screen and (min-width: 980px) {
  #titreRestaurants {
    text-align: center;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 980px) {
  .restaurants {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.restaurants a {
  text-decoration: none;
  color: black;
  box-shadow: 0px 4px 18px 0px #c1c0c0;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 15px;
}
@media screen and (min-width: 980px) {
  .restaurants a {
    width: 680px;
    margin: 20px;
  }
}
.restaurants_card {
  margin: 0px auto 0px auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  position: relative;
}
.restaurants_new {
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  font-size: 13px;
  border-radius: 2px;
  padding: 6px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.restaurants_img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants_description--name {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.restaurants_description--name h3 {
  margin: 10px 0px 5px 0px;
  font-size: 16px;
}
.restaurants_description--name p {
  margin: 0px 0px 10px 0px;
  font-size: 15px;
}
.restaurants_description--heart {
  display: flex;
  position: relative;
  font-size: 25px;
  padding-right: 25px;
}

.fa-heart:hover {
  color: transparent;
  transition: 0.3s;
}

.fa-heart:hover .heart-full {
  transform: scale(1.1);
  animation: heart 0.7s;
}

.heart-full {
  background: linear-gradient(220deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(0);
  transform-origin: bottom;
}

@keyframes heart {
  0% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
/******** Les menus des restaurants ********/
.main_menu {
  border-radius: 35px 35px 0 0;
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
}

.titre_restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-top: 23px;
}
.titre_restaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  padding: 0px 25px 0px 0px;
  margin: 0;
}

.heart-titre {
  position: relative;
  font-size: 25px;
}

.underline {
  background: #99E2D0;
  width: 43px;
  height: 3px;
  margin-left: 8px;
}

.menu {
  padding: 0 20px;
}
.menu_titre {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin: 25px 0 5px 8px;
}
.menu_description {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 12px;
  padding-left: 13px;
  box-shadow: 0px 4px 18px 0px #c1c0c0;
}
.menu_description h4 {
  margin: 12px 0 5px 0;
}
.menu_description p {
  margin: 0 0 12px 0;
  font-size: 13px;
}
.menu_description_prix {
  margin: 0 20px 12px 0;
  font-weight: bold;
  font-size: 14px;
}

/** Footer **/
footer {
  background-color: #353535;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px 10px 15px 25px;
  margin: 0;
}
@media screen and (min-width: 600px) {
  footer h3 {
    text-align: center;
  }
}
footer ul {
  list-style-type: none;
  padding: 0 0 25px 25px;
  margin: 0;
}
@media screen and (min-width: 600px) {
  footer ul {
    text-align: center;
  }
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
footer li {
  padding: 4.5px 0;
}

.main_button {
  font-family: "Roboto";
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 550;
  background: linear-gradient(345deg, #9356DC, #FF79DA);
  padding: 15px 0px 15px 0px;
  width: 210px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 4px 6px 1px #c1c0c0;
  cursor: pointer;
  transition: 0.2s;
}
.main_button:hover {
  background: linear-gradient(345deg, #9b63df, #ff88de);
  box-shadow: 3px 8px 7px 0px #c1c0c0;
}

/*# sourceMappingURL=style.css.map */
