/*** Loader ***/
.loader-page {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: time 2.5s both;
    
    p {
        @include font_titre;
        font-size: 35px;
        margin-top: 0px;
        padding: 10px;
        position: relative;
        top: -125px;
        background: linear-gradient(220deg,  $primaire, $secondaire);
        -webkit-background-clip: text;
        color: transparent;
    }
}  

.loader {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    position: relative;
    top: 55px;
    background: linear-gradient(0deg, $primaire 20%, $secondaire 100%);
    animation: rotation 1.3s linear 2;
  }
  .loader::after {
    content: '';  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 300px;
    border-radius: 50%;
    background: #ffffff;
  }

@keyframes rotation {
    0% { 
        transform: rotate(0deg) 
    }
    100% { 
        transform: rotate(360deg)
    }
} 

@keyframes time {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
/*** Header de la page d'accueil ***/

.header_accueil {

    &_logo {
        height: 27px;
        display: flex;
        justify-content: center;
        margin: 0px auto 0px auto; 
        padding: 20px 0; 
    
    }
    &_location {
        background-color: #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 0px -3px 3px #c1c0c0;

    }
    &_reservation {
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        @include desktop {
            padding-bottom: 35px;
        }

        h1 {
            margin: 30px 50px 15px 50px;
            text-align: center;
        }

        p {
            text-align: center;
            color: #4D4D4D;
            margin: 0px 15px 25px 15px;
            font-size: 17px;
            font-weight: 300;
        }
    }
    
}

.fa-location-dot {
    padding-right: 15px;
}

/********* Header des menus ********/

.header_menu {
    &_logo {
        display: flex;
        justify-content: center;
        position: relative;
        height: 27px;
        padding: 20px 0 12px 0;
        a {
            text-decoration: none;
            color: black;
        }
    }
    &_photo {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

.fa-arrow-left {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 22px;
}


/********** Espace "fonctionnement" sur la page d'accueil ********/

#titreFonctionnement {
    margin: 45px 10px 0px 20px;
    @include desktop {
        text-align: center;
        margin: 20px 0 0 0;
    }
}
.functioning {
    margin: 15px 8px 40px 8px;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &_number {
        position: relative;
        left: -13px;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 14px;
        background-color: $primaire;
        border-radius: 20px;
        padding: 4px 9px 4px 9px;
    }
    &_step {
        margin: 15px auto 15px auto;
        width: 90%;
        max-width: 500px;
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        font-weight: bold;
        box-shadow: 0px 4px 18px 0px #c1c0c0;
        border-radius: 20px;
        padding: 10px 5px 10px 0px;
        @include desktop {
            margin: 20px;
        }
    }
    &_step:hover {
        background-color: #F5EDFF;
    }
    &_step:hover .fa-mobile-screen {
        color: $primaire;
    }
    &_step:hover .fa-store{
        color: $primaire;
    }
    &_step:hover .fa-list-ul{
        color: $primaire;
    }

}

.fa-mobile-screen {
    padding: 0px 25px 0px 10px;
    font-size: 20px;
    color: #7E7E7E;
}

.fa-list-ul {
    padding: 0px 25px 0px 10px;
    font-size: 20px;
    color: #7E7E7E;
}

.fa-store {
    padding: 0px 25px 0px 10px;
    font-size: 18px;
    color: #7E7E7E;
}

/**** Espace Restaurants ****/
#sectionRestaurants {
    background-color: #F6F6F6;
}

#titreRestaurants {
    padding: 45px 10px 0px 20px;
    margin-top: 0px;
    @include desktop {
        text-align: center;
        padding: 25px 0 0 0;
        margin-bottom: 10px;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablette {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 880px;
        margin: auto;
        padding-bottom: 25px;
    }
    @include desktop {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        max-width: none;
        padding: 0 10px 30px 10px;
    }
    
    a {
        text-decoration: none;
        color: black;
        box-shadow: 0px 4px 18px 0px #c1c0c0;
        width: 90%;
        margin-bottom: 20px;
        border-radius: 15px;
        &:hover {
            box-shadow: 0px 6px 14px 6px #b7b6b6;
            transition: 0.25s;
            transform: scale(1.02);
        }
        @include tablette {
            max-width: 260px;
            margin: 20px;
        }
        @include desktop {
            max-width: 375px;
            margin: 20px;
        }

    }
    &_card {
        margin: 0px auto 0px auto;
        background-color: #FFFFFF;
        border-radius: 15px;
        position: relative;
    }
    &_new {
        background-color: #99e2d0;
        color: #008766;
        font-weight: bold;
        font-size: 13px;
        border-radius: 2px;
        padding: 6px 10px;
        position: absolute;
        right: 10px;
        top: 10px;
        
    }
    &_img {
        object-fit: cover;
        height: 150px;
        width: 100%;
        border-radius: 15px 15px 0 0;

        
    }
    &_description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--name {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            h3 {
                margin: 10px 0px 5px 0px;
                font-size: 16px;
            }
            p {
                margin: 0px 0px 10px 0px;
                font-size: 15px;
            }
        }
        &--heart {
            display: flex;
            position: relative;
            font-size: 25px;
            padding-right: 25px;
        }
    }
    
}

.fa-heart:hover {
    color: transparent;
    transition: 0.3s;
}
.fa-heart:hover .heart-full{
    transform: scale(1.10);
    animation: heart 0.7s;
 }

.heart-full {
    background: linear-gradient(220deg,  $primaire, $secondaire);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(0); 
    transform-origin: bottom;
}

@keyframes heart {
    0% {
      transform: scale(0.1);
    }
    40% {
      transform: scale(1.30);
    }
    70% {
      transform: scale(0.7);
    }
    90% {
        transform: scale(1.20);
    }
    100% {
      transform: scale(1.10);
    }
  }

/******** Les menus des restaurants ********/
.main_menu {
    border-radius: 35px 35px 0 0;
    background-color: #F6F6F6;
    position: relative;
    margin-top: -40px;   
}
.titre_restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 23px;
    h1 {
        @include font_titre;
        padding: 0px 25px 0px 0px;
        margin: 0;
    }
}
.heart-titre {
    position: relative;
    font-size: 25px;
}

.menu_positionnement {
    display: flex;
    flex-direction: column;
}

.underline {
    background: #99E2D0;
    width: 35px;
    height: 3px;
    margin-left: 8px;
}

.menu {
    padding: 0 20px 10px 20px;
    @include desktop {
        width: 100%;
        max-width: 450px;
    }
    &_positionnement {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    &_titre {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
        margin: 25px 0 5px 8px;
    }
    &_description {
        position: relative;
        text-decoration: none;
        color: black;
        background: #FFFFFF;
        border-radius: 15px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        padding-left: 10px;
        box-shadow: 0px 4px 18px 0px #c1c0c0;
        overflow: hidden;

        &:hover .menu_description_checkbox {
            transform: translateX(0%);      
        }
        &:hover .menu_description_prix {
            transform: translateX(-50px);        
        }
        &:hover .menu_description_name {
            width: 60%;   
        }
        &:hover .fa-circle-check {
            transform: rotate(1turn);
        }
        &_name {
            width: 80%;
            transition-duration: 0.5s;
        }
        h4 {
            margin: 12px 0 5px 0;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
        }
        p {
            margin: 0 0 12px 0;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
        }
        &_prix {
            margin: 20px 20px 0px 8px;
            font-weight: bold;
            font-size: 14px;
            transition-duration: 0.5s;
        }

        &_checkbox {
            padding: 19px;
            background:#99E2D0;
            color: #FFFFFF;
            font-size: 20px;
            position: absolute;
            right: 0px;
            transform: translateX(60px);
            transition-duration: 0.5s;
            
        }
    }
}
.menu1 {
    animation: start-menu 1.5s 0.3s both;
}

.menu2 {
    animation: start-menu 1.5s 0.5s both;
}

.menu3 {
    animation: start-menu 1.5s 0.7s both;
}

.menu4 {
    animation: start-menu 1.5s 0.9s both;
}

@keyframes start-menu {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.fa-circle-check {
    transition-duration: 0.5s;
}

.button_positionnement {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
/** Footer **/

footer {
    background-color:#353535;
    h3 {
        @include font_titre;
        color: #FFFFFF;
        font-size: 20px;
        padding: 20px 25px 15px 25px;
        margin: 0;
        @include tablette {
            text-align: center;
            font-size: 26px;
        }
    }
    ul {
        list-style-type: none;
        padding: 0 25px 25px 25px;
        margin: 0;
        @include tablette {
            text-align: center;
        }
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
    li {
        padding: 4.5px 0;
    }
}