/********* Défini la structure globale ********/
$violet: #9356DC;
$rose: #FF79DA;
$cyan: #99E2D0;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', serif;
    
}

h1 {
    font-family: 'Shrikhand', serif;
}

h2 {
    font-family: 'Roboto', serif;
}

