/********* Défini la structure globale ********/
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$font_site: 'Roboto';
$font_titre: 'Shrikhand';


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$breakpoints : (tablette: 600px, desktop: 980px);

@mixin font_titre {
    font-family: $font_titre, sans-serif;
    font-weight: 300;
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) { 
        @content;
    }  
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) { 
        @content;
    }  
}

body {
    margin: 0px;
    font-family: $font_site, serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-family: $font_site, serif;
}

